/****************************************************************************
* COLOR REFERENCE
*
* Green: #14AA37
* Black: #000000
* White: #FFFFFF
* Lemon: #F7EE6A
* Light Blue: #75D0F1
* Pink: #ED9BC4
* Purple: #986297
* Light Green: #BED276
* Warm Yellow: #FFC11E
* Bright Pink: #CF6297
* Red: #DC4F00
* Dark Blue: #3860AA
* Angry: #C80082
*
****************************************************************************/

/* === FONTS === */

@font-face {
    font-family: 'Fucxed';
    src: url('../fonts/Fucxed/fucxedcaps-v2-webfont.woff2') format('woff2'),
         url('../fonts/Fucxed/fucxedcaps-v2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
            url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/Crimson-Text/crimson-text-v10-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}


/* === BOOTSTRAP COLORS === */

.bg-primary {
    background-color: #14AA37 !important;
}


/* === GENERAL DEFINITIONS === */

body {
    font-family: 'Crimson Text';
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .shout {
    font-family: Fucxed;
}

a {
    color: inherit;
    text-decoration: underline;
}


/* === NAVIGATION === */

.navbar {
    min-height: 100px !important;
    /*background: #14AA37 !important;*/

    font-family: Fucxed;
}

.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-item,
.navbar-light .navbar-nav .nav-link {
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

.nav-item:hover 
.nav-link {
    background: #FFC11E;
    color: #000000 !important;
    text-decoration: none;
}


/* === COUNTDOWN === */

.countdown-item h2 {
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.countdown-item div {
    background: #FFFFFF;

    font-size: 3rem !important;
    font-weight: bold;

    color: #000000;
}


/* === THE COUNTDOWN === */

.jumbotron {
    background: #FFFFFF;
}


/* === THE CIRCLE === */

/*.circle {
	display: inline-block;
    position:relative;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    background: #14AA37;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle img {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}*/

.circle {
	display: inline-block;
	position: relative;
	
	border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	
	height: 100%;
	width: 100%;
	max-width: 400px;
	
    background: #14AA37;
}

.circle img {
	width: 90%;
	height: 90%;
	max-height: 100%;
	margin: 5% 5% 5% 5%;
}

#xr-gray {
	z-index: 0;
}

#xr-black {    
	z-index: 1;
	
    position: absolute;
    top: 0; left: 0;
}

/* === EMISSIONS TABLE === */

.world-emissions-data {
  color: #FFFFFF;
  background-color: #000000;
}

.category-container {
  display: flex;
  flex-direction: row;
}

.chevron-container {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3px;
}

.chevron {
  font-size: 1rem;
}

.clear-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.country-filter {
  display: flex;
}

.country-filter input{
  padding-right: 0;
  border-right: 0;
}

/* === THE INFO BLOCKS === */
